.login-conteiner {
  align-items: center;
  background-color: rgb(89, 199, 103);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin: auto;
  max-width: 300px;
  text-align: center;
}

.form-conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.inputEmail , .password {
  border: 1px solid rgb(82, 82, 82);
  border-radius: 5px;
  margin: 10px;
  padding: 10px 5px;
  width: 250px;
}

.App {
  border-bottom: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.button-login {
  background-color: white;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 5px;
  font-size: 15px;
  margin: 10px;
  padding: 10px 5px;
  width: 260px;
}

